{% extends 'base.html.twig' %}

{% block title %}
	DLR Portal
{% endblock %}


{% block body %}
    <div class="container mt-4">
        <h1>Gerer les beteiligte</h1>

            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}


        <table class="table">
            <head>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </head>
            <tbody>
            {% for beteiligte in beteiligtes %}
                <tr>
                    <td>{{ beteiligte.name }}</td>
                    <td>
                        <a href="{{ path('admin.beteiligte.edit', {id: beteiligte.id}) }}" class="btn btn-secondary">Ändern</a>
                        <form method="post" action="{{ path('admin.beteiligte.delete', {id: beteiligte.id} ) }}" class="action" style="display: inline-block" onsubmit="return confirm('möchten Sie Löschen?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ beteiligte.id) }}">
                            <button class="btn btn-danger">Löschen</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
                <a href="{{ path('admin.beteiligte.new') }}" class="btn btn-primary">Add</a>
        </div>
    </div>

{% endblock %}